<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency Finder</title>
    <link ref="word_frequency.css" rel="stylesheet" tpye="text/css">
  </head>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
