<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency Finder</title>
    <link <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" ref="word_frequency.css" rel="stylesheet" tpye="text/css">

  </head>

  <body>
    
    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
