<!DOCTYPE html>
<html>
  <head>
    <title>Word Frequency Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css">
    <link href="/word_frequency.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-1.11.2.js"></script>
    <script src="/js/scripts.js"></script>
  </head>

  <body>

    <div class="container">
    <%= yield %>
    </div>

  </body>
</html>
