h1 {
  color: #660033;

}

body {
  background-color: #0099FF;
  background-image:url('/img/upfeathers.png');

}

.form-group {
  position: relative;
  width: 400px;
  height: 100px;
}

#results {
  display: none;
}
